/* Definimos la animación usando keyframes */
@keyframes moverDerecha {
    0% {
        transform: translateX(0); /* La posición inicial */
    }
    100% {
        transform: translateX(1500px); /* La posición final, puedes ajustarla como desees */
    }
}

/* Estilo base para el elemento que se animará */
.animacion {
    width: 500px;
    height: 500px;
    background-color: blue;
    animation: moverDerecha 2s linear infinite; /* Aplicamos la animación al elemento */
}